@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
 --primary-bg: #44834E;
 --secondary-bg: #86b88f;
 --title-color: #09492F;
 --text-color: #d0fbd7;
 --input-color: #09492F;
 --icon-color: #d0fbd7;
}

.dark-theme{
  --primary-bg: #09492F;
  --secondary-bg: #03291a;
  --title-color: #d0fbd7;
  --text-color: #d0fbd7;
  --input-color: #44834E;
  --icon-color: #d0fbd7;
}

.dark-mode-toggle-button{
  background: none;
  border: none;
  padding: 0;
  width: 30px;
  cursor: pointer;
  margin-top: 1rem;
}

body {
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  display: grid;
  justify-content: center;
  place-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: var(--title-color);
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: var(--secondary-bg);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--input-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 350px;
  color: var(--input-color);
  font-size: 0.9rem;
}

.todo-input::placeholder {
  color: var(--input-color);
  font-size: 0.9rem;
}

.todo-btn {
  background: var(--input-color);
  color: var(--text-color);
  border: none;
  padding: 0.57rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--input-color);
  color: var(--icon-color);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: var(--text-color);
  cursor: pointer;
}

.completed {
  color: var(--text-color);
  text-decoration: line-through;
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
  transition: opacity 2s ease-in-out;
}

.edit-btn {
  cursor: pointer;
}